
nav div{float:left;
      margin:auto;
	    background-color:black;
        color:white;
        width: 15%;
		height:40px;
		border:1px solid black;
		
}
nav div.logo{
	padding:5px 4px 4px 5px; /* readjust in jsfiddle*/
}
nav div.cat{
	padding:5px 4px 4px 5px; /* readjust in jsfiddle*/
}

.left {
    float:left;
}
.rounded {
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}
.wrap {
	margin:auto;
	width:35%;
	float:left;
	height:40px;
    position:relative;
    padding:5px 4px 4px 5px; /* readjust in jsfiddle*/
    background:black;
    border:1px solid #ccc;
	border-left:0;
    overflow:hidden;
}
.search {
	margin:auto;
    width:260px;
    position:relative; top:2px; /* readujst in jsfiddle */
    padding:8px 4px 4px 30px;
    border:1px solid #ccc;
    background:white url(http://i.imgur.com/lFkqn.png) left center no-repeat;
}
.go {
    position:relative; top:0;
    padding:3px 5px 2px;
    margin-left:8px;
    border:none;
    background: -webkit-gradient(linear, left top, left bottom, from(#d631a7), to(#8f1b64));
    background: -moz-linear-gradient(top,  #d631a7,  #8f1b64);
}
.go span {
    display:block;
    width:64px; height:28px;
    background:url(image/go.png) 0 0 no-repeat;
}